.App {
  text-align: center;
}

.row {
  width: 100%;
  display: flex;
}

.col-6 {
  width: 49%;
  margin: 0% 0.5% 0% 0.5%;
  background: #333;
  min-height: 100vh;
}

.button:hover{
  cursor:pointer;
}